body {
	background-color: #F7F9FC;
	color: #575F7D;
	font-family: 'Lora', serif;
	font-size: 17px;
	font-weight: lighter;
}

h1, h2{
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: rgb(90,160,220);
	font-weight: 700;
	font-size:35px;
}

h2 {
	color: rgb(97,92,251);
	font-size: 20px;
	font-weight: 400;
}

a{
	text-decoration: none;
	color: rgb(1178,108,176);
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

a:hover {
	color: purple;
}


.container {
	width: 700px;
	margin: 40px auto;
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-grey {
	background-color: grey;
	padding: 15px 20px;
	border-radius: 4px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	 display: inline;
	 padding: 10px;
}
 
 #introduction p {
 	margin-bottom: 40px;
 }
